* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 58px;
  background-color: purple;
  color: white;

  /* eixo principal aqui é row */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {}

footer {
  height: 200px;
  background-color: orange;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}